chapters/Chapter03/ccdeve-topology-module-data.sch

<?xml version="1.0" encoding="utf-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="exslt"><sch:ns uri="http://exslt.org/dynamic" prefix="dyn"/><sch:ns uri="http://markciecior.com/topology" prefix="mc-topo"/><sch:ns uri="urn:ietf:params:xml:ns:netconf:base:1.0" prefix="nc"/><sch:let name="root" value="/nc:data"/><sch:pattern abstract="true" id="ccdeve-topology-module___link"><sch:rule context="$start/$pref:device"><sch:report test=". = preceding-sibling::$pref:device">Duplicate leaf-list entry "<sch:value-of select="."/>".</sch:report><sch:report test="not(../../../$pref:devices/$pref:name=.)">Leaf "../../../$pref:devices/$pref:name" does not exist for leafref value "<sch:value-of select="."/>"</sch:report></sch:rule><sch:rule context="$start/$pref:ip_address"><sch:report test=". = preceding-sibling::$pref:ip_address">Duplicate leaf-list entry "<sch:value-of select="."/>".</sch:report></sch:rule><sch:rule context="$start/$pref:interface"><sch:report test=". = preceding-sibling::$pref:interface">Duplicate leaf-list entry "<sch:value-of select="."/>".</sch:report></sch:rule></sch:pattern><sch:pattern id="ccdeve-topology-module"><sch:rule context="/nc:data/mc-topo:topology/mc-topo:devices"><sch:report test="preceding-sibling::mc-topo:devices[mc-topo:name=current()/mc-topo:name]">Duplicate key "mc-topo:name"</sch:report></sch:rule><sch:rule context="/nc:data/mc-topo:topology/mc-topo:links"><sch:report test="preceding-sibling::mc-topo:links[mc-topo:name=current()/mc-topo:name]">Duplicate key "mc-topo:name"</sch:report></sch:rule></sch:pattern><sch:pattern id="idm23" is-a="ccdeve-topology-module___link"><sch:param name="start" value="/nc:data/mc-topo:topology/mc-topo:links/mc-topo:a"/><sch:param name="pref" value="mc-topo"/></sch:pattern><sch:pattern id="idm26" is-a="ccdeve-topology-module___link"><sch:param name="start" value="/nc:data/mc-topo:topology/mc-topo:links/mc-topo:b"/><sch:param name="pref" value="mc-topo"/></sch:pattern></sch:schema>
