chapters/Chapter03/ccdeve-device-module-data.sch

<?xml version="1.0" encoding="utf-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="exslt"><sch:ns uri="http://exslt.org/dynamic" prefix="dyn"/><sch:ns uri="http://markciecior.com/device" prefix="mc-device"/><sch:ns uri="urn:ietf:params:xml:ns:netconf:base:1.0" prefix="nc"/><sch:let name="root" value="/nc:data"/><sch:pattern id="ccdeve-device-module"><sch:rule context="/nc:data/mc-device:device/mc-device:vrfs"><sch:report test=". = preceding-sibling::mc-device:vrfs">Duplicate leaf-list entry "<sch:value-of select="."/>".</sch:report></sch:rule><sch:rule context="/nc:data/mc-device:device/mc-device:vlans"><sch:report test="preceding-sibling::mc-device:vlans[mc-device:id=current()/mc-device:id]">Duplicate key "mc-device:id"</sch:report></sch:rule></sch:pattern></sch:schema>
