chapters/Chapter03/ccdeve-score-report-data.sch

<?xml version="1.0" encoding="utf-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="exslt"><sch:ns uri="http://exslt.org/dynamic" prefix="dyn"/><sch:ns uri="http://markciecior.com/score" prefix="mc"/><sch:ns uri="urn:ietf:params:xml:ns:netconf:base:1.0" prefix="nc"/><sch:let name="root" value="/nc:data"/><sch:pattern id="ccdeve-score-report"><sch:rule context="/nc:data/mc:score-report"><sch:report test="not(mc:status = 'PASSED') and (mc:devnet-number[not(processing-instruction('dsrl'))] or false())">Found nodes that are valid only when "mc:status = 'PASSED'"</sch:report><sch:report test="not(mc:status = 'FAILED') and (mc:software-design[not(processing-instruction('dsrl'))] or mc:infrastructure-as-code[not(processing-instruction('dsrl'))] or mc:automation[not(processing-instruction('dsrl'))] or mc:containers[not(processing-instruction('dsrl'))] or mc:security[not(processing-instruction('dsrl'))] or false())">Found nodes that are valid only when "mc:status = 'FAILED'"</sch:report></sch:rule></sch:pattern></sch:schema>
