chapters/Chapter03/ccdeve-device-module-data.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" xmlns:mc-device="http://markciecior.com/device" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="urn:ietf:params:xml:ns:netconf:base:1.0"><include href="/usr/local/share/yang/schema/relaxng-lib.rng"/><start><element name="data"><interleave><grammar ns="http://markciecior.com/device"><include href="ccdeve-device-module-gdefs.rng"/><start><optional><element name="mc-device:device"><interleave><optional><element name="mc-device:hostname"><data type="string"><param name="minLength">1</param><param name="maxLength">20</param></data></element></optional><zeroOrMore><element name="mc-device:vrfs"><data type="string"><param name="pattern">[A-Z]+</param></data></element></zeroOrMore><optional><element name="mc-device:primary-loopback"><interleave><optional><element name="mc-device:number"><data type="unsignedInt"><param name="minInclusive">0</param><param name="maxInclusive">2147483647</param></data></element></optional><optional><element name="mc-device:ip-address"><ref name="ietf-inet-types__ipv4-address"/></element></optional><optional><element name="mc-device:prefix-length"><data type="unsignedByte"/></element></optional></interleave></element></optional><zeroOrMore><element name="mc-device:vlans"><element name="mc-device:id"><choice><data type="unsignedShort"><param name="minInclusive">2</param><param name="maxInclusive">1001</param></data><data type="unsignedShort"><param name="minInclusive">1006</param><param name="maxInclusive">4094</param></data></choice></element><optional><element name="mc-device:name"><data type="string"><param name="minLength">1</param><param name="maxLength">32</param></data></element></optional></element></zeroOrMore></interleave></element></optional></start></grammar></interleave></element></start></grammar>
