chapters/Chapter03/ccdeve-topology-module-data.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" xmlns:mc-topo="http://markciecior.com/topology" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="urn:ietf:params:xml:ns:netconf:base:1.0"><include href="/usr/local/share/yang/schema/relaxng-lib.rng"/><start><element name="data"><interleave><grammar ns="http://markciecior.com/topology"><include href="ccdeve-topology-module-gdefs.rng"/><start><optional><element name="mc-topo:topology"><interleave><zeroOrMore><element name="mc-topo:devices"><element name="mc-topo:name"><data type="string"/></element><optional><element name="mc-topo:sku"><data type="string"/></element></optional></element></zeroOrMore><zeroOrMore><element name="mc-topo:links"><element name="mc-topo:name"><data type="string"/></element><interleave><optional><element name="mc-topo:a"><ref name="ccdeve-topology-module___link"/></element></optional><optional><element name="mc-topo:b"><ref name="ccdeve-topology-module___link"/></element></optional><optional><element name="mc-topo:cable_length"><data type="decimal"><param name="totalDigits">19</param><param name="fractionDigits">2</param></data></element></optional></interleave></element></zeroOrMore></interleave></element></optional></start></grammar></interleave></element></start></grammar>
