chapters/Chapter03/ccdeve-score-report-data.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" xmlns:mc="http://markciecior.com/score" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="urn:ietf:params:xml:ns:netconf:base:1.0"><include href="/usr/local/share/yang/schema/relaxng-lib.rng"/><start><element name="data"><interleave><grammar ns="http://markciecior.com/score"><include href="ccdeve-score-report-gdefs.rng"/><start><element name="mc:score-report"><interleave><element name="mc:candidate-name"><data type="string"/></element><element name="mc:status"><choice><value>PASSED</value><value>FAILED</value></choice></element><optional><choice><choice><empty/><group><element name="mc:devnet-number"><data type="int"/></element></group></choice><choice><empty/><interleave><optional><element name="mc:software-design"><ref name="ccdeve-score-report__domainperformance"/></element></optional><optional><element name="mc:infrastructure-as-code"><ref name="ccdeve-score-report__domainperformance"/></element></optional><optional><element name="mc:automation"><ref name="ccdeve-score-report__domainperformance"/></element></optional><optional><element name="mc:containers"><ref name="ccdeve-score-report__domainperformance"/></element></optional><optional><element name="mc:security"><ref name="ccdeve-score-report__domainperformance"/></element></optional></interleave></choice></choice></optional></interleave></element></start></grammar></interleave></element></start></grammar>
