lab-1/challenge-103/bgp-protocol-data.sch

<?xml version="1.0" encoding="utf-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="exslt"><sch:ns uri="http://exslt.org/dynamic" prefix="dyn"/><sch:ns uri="http://devnetexperttraining.com/bgp-protocol" prefix="bgp"/><sch:ns uri="urn:ietf:params:xml:ns:netconf:base:1.0" prefix="nc"/><sch:let name="root" value="/nc:data"/><sch:pattern id="bgp-protocol"><sch:rule context="/nc:data/bgp:bgp-protocol/bgp:vrf"><sch:report test="preceding-sibling::bgp:vrf[bgp:name=current()/bgp:name]">Duplicate key "bgp:name"</sch:report></sch:rule><sch:rule context="/nc:data/bgp:bgp-protocol/bgp:neighbors/bgp:neighbor"><sch:report test="preceding-sibling::bgp:neighbor[bgp:address=current()/bgp:address]">Duplicate key "bgp:address"</sch:report><sch:report test="not(bgp:remote-as != ../../bgp:local-as) and (bgp:password[not(processing-instruction('dsrl'))] or bgp:ttl[not(processing-instruction('dsrl'))] or false())">Found nodes that are valid only when "bgp:remote-as != ../../bgp:local-as"</sch:report></sch:rule><sch:rule context="/nc:data/bgp:bgp-protocol/bgp:neighbors/bgp:neighbor/bgp:vrf"><sch:report test="not(../../../bgp:vrf/bgp:name=.)">Leaf "../../../bgp:vrf/bgp:name" does not exist for leafref value "<sch:value-of select="."/>"</sch:report></sch:rule></sch:pattern></sch:schema>
